
        <!----------------------------------------- FOOTER ------------------------------------------->
        <div class="footer">
            <svg style="background-color: var(--background);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#9d9fdf" fill-opacity="1" d="M0,256L0,96L205.7,96L205.7,224L411.4,224L411.4,128L617.1,128L617.1,160L822.9,160L822.9,224L1028.6,224L1028.6,32L1234.3,32L1234.3,160L1440,160L1440,320L1234.3,320L1234.3,320L1028.6,320L1028.6,320L822.9,320L822.9,320L617.1,320L617.1,320L411.4,320L411.4,320L205.7,320L205.7,320L0,320L0,320Z"></path></svg>
            <div class="inner-footer">
                <div class="footer-items">
                    <img src="/images/logo1.png" alt="logo" class="logo">
                </div>
                <!----------------- MENU FOOTER ------------------>
                <div class="footer-items">
                    <ul class="menuliste">
                        <li><a aria-label="mesprojets" href="#projets"><li>Mes projets</li></a></li>
                        <li><a aria-label="mescompetences" href="#competences"><li>Mes compétences</li></a></li>
                        <li><a aria-label="aboutme" href="#about"><li>Qui suis-je ?</li></a></li>
                    </ul>
                </div>
                <!----------------- CONTACTEZ NOUS FOOTER ------------------>
                <div class="footer-items">
                    <ul>
                        <li style="font-size: 25px; text-decoration: underline;">Contactez moi !</li>
                        <li><i class="fa fa-map-marker"></i>85000 La Roche-sur-Yon</li>
                        <li><i class="fa fa-phone"></i>06-13-36-08-06</li>
                        <li><i class="fa fa-envelope"></i>emduthy@gmail.com</li>
                    </ul>
                    
                    <!----------------- ICONES RESEAUX SOCIAUX FOOTER ------------------>
                    <div class="social-media">
                        <a href="https://google.fr" aria-label="linkedin"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/DuTss/" aria-label="Github"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>

            <!----------------- BANDEAU FOOTER BOTTOM ------------------>
            <div class="footer-bottom">
                <a href="/auth/login">This footer was created by DuTeuh. 2021.</a>
            </div>
        </div>
        
    </body>
</html>