<!doctype html>
<html lang="fr">
    <head>
        <!---------------------------------------------- TITRE DU DOCUMENT ------------------------------------------------>
        <title>Mon portfolio</title>
        <!---------------------------------------------- META ------------------------------------------------------------->
        <meta charset="utf-8">
        <meta name="Description" content="Put your description here.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!---------------------------------------------- ICONES ----------------------------------------------------------->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

        <!---------------------------------------------- FONTS ROBOTO ----------------------------------------------------->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <!---------------------------------------------- BULMA ------------------------------------------------------------>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" >

        <!---------------------------------------------- FEUILE DE STYLE -------------------------------------------------->
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
<body>