<!---------------------------------------------- NAVBAR ------------------------------------------------>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <!------------------- LOGO ----------------->
        <a class="navbar-item" href="/">
            <img src="/images/logo.png" alt="logo">
        </a>
    </div>

    <!------------------- LIEN NAVBAR ------------------------>
    <div id="navbarBasicExample">
        <div class="navbar">
            <a href="#projets" class="navbar-item">Mes projets</a>
            <a href="#competences" class="navbar-item">Mes compétences</a>
            <a href="#about" class="navbar-item">Qui suis-je ?</a>        
        </div>
    </div>
</nav>