<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<!------------------- PAGE ERREUR 404 ------------------------>
<div class="mainbox">
    <h1><a href="/">Mon portfolio</a></h1>
    <div class="err">4</div>
    <i class="far spin fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Oupss.. Tu t'es perdu ?<p>Retourne à <a href="/" class="error">l'accueil !</a></p></div>
</div>
<%- include('partials/footer.ejs') %>
