<!DOCTYPE html>
<html lang="fr">

<head>
    <!---------------------------------------------- META ------------------------------------------------>
    <meta charset="utf-8">
    <meta name="Description" content="Put your description here.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!----------------------------------------- TITRE DOCUMENT ------------------------------------------->
    <title>Mon portfolio - Administration</title>

    <!----------------------------------------- ICONES --------------------------------------------------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    
    <!----------------------------------------- FONTS ROBOTO --------------------------------------------->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!------------------------------------------ BULMA --------------------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />

    <!----------------------------------------- FEUILLE DE STYLE ----------------------------------------->
    <link rel="stylesheet" type="text/css" href="/admin.css">
</head>