<!----------------------------------------- SIDEBAR ADMIN ------------------------------------------->
<div class="column is-2 sidebar">
  <aside class="menu is-hidden-mobile">
    <p class="menu-label">Administration</p>
    <ul class="menu">
      <li class="side"><a class="lien-sidebar" href="/admin">Liste des projets</a></li>
      <li class="side"><a class="lien-sidebar" href="#">Liste des utilisateurs</a></li>
    </ul>
  </aside>
</div>